<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.renwushu.module.sys.dao.SysFileMapper">

    <select id="getByIds" resultType="com.example.renwushu.module.sys.entity.SysFile">
        select * from sys_file where status = "0"
        and id in
        <foreach collection="ids.split(',')" item="state" separator="," open="(" close=")">
            #{state}
        </foreach>
    </select>
</mapper>
